.navbar-brand {
	margin-left: 10px;
}

.alert {
	margin-left: 70px;
	margin-right: 70px;
}

.panel {
	margin-left: 10px;
	margin-right: 10px;
}

.panel-body {
	margin-left: 10px;
	margin-right: 10px;
}